<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBr9LDP8HHwWGzAb1e73xMXJoEAepQVrX4</string>
	<key>GCM_SENDER_ID</key>
	<string>270194759200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weDecorEnquiries</string>
	<key>PROJECT_ID</key>
	<string>wedecorenquiries</string>
	<key>STORAGE_BUCKET</key>
	<string>wedecorenquiries.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270194759200:ios:0172993a81d51bf19cce45</string>
</dict>
</plist>